<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>
<body>
    <header>
        <div class="header-container">
            <h1>{{title}}</h1>
        </div>
    </header>
    
    <p>{{msg}}</p>
    <p>Q1:あなたはなぜこのホテルに来たのですか?</p>
    <textarea></textarea>
    <button>送信送信</button>
    <a href="{%url goto %}">{{goto}}</a>
</body>
</html>